.heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 60px;
    background-color: #ffffff86;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 3px #03233c, 0 0 2em #03233c;
    color: #03233c;
    border-radius: 10px;
}

body {
    background: url(https://cdn.glitch.global/9fa7a2f9-94b7-4739-9f2a-43615883f3ab/santa444.jpg?v=1682336505809) no-repeat left;
    background-size: cover;
    background-color: #03233c;
    height: 100vh;
    min-height: 500px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.christmas {
    height: 250px;
    width: 200px;
    margin-top: 50px;
    background-color: #03233c77;
    box-shadow: 1px 1px 3px #03233c, 0 0 1em #03233c;
    border-radius: 10px;
}

.block {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}  

.days, .hours, .minutes, .seconds {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.red {
    font-size: 60px;
    font-family: 'Staatliches', cursive;
    border: none;
    color: #e7393b;
}

#myButton, #myButtonStop {
    padding: 10px;
    display: flex;
    justify-content: center;
    -webkit-background-clip: text;
    border: none;
}

.link, .link-top {
    padding: 10px;
    display: flex;
    margin-top: 30px;
    -webkit-background-clip: text;
}

.link {
    justify-content: center;
}

.link-top {
    justify-content: flex-start;
}

.nv {
    margin: 10px;
}

.content {
    max-width: 70%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

@media all and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    .days, .hours, .minutes, .seconds {
        font-size: 40px;
    }

    .red {
        font-size: 40px;
    }

    .christmas {
        height: 250px;
        width: 250px;
        padding: 10px;
        /* margin-top: 30px; */
    }

    .link {
        justify-content: flex-end;
        margin-top: 40px;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 25px;
    }

    .days, .hours, .minutes, .seconds {
        font-size: 25px;
    }

    .red {
        font-size: 25px;
    }

    .christmas {
        height: 150px;
        width: 150px;
        padding: 0px;
        box-shadow: 1px 1px 3px #fff, 0 0 1em #fff;
        margin-top: 20px;
    }

    h3 {
        font-size: 20px;
    } 

    .link {
        margin-top: 70px;
    }
  
    .link-top {
        margin-top: 10px;
    }
}